<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <template id="myApp">
        <div class="container is-fluid  myApp-container">
            <div class="notification" v-bind:class="{'all-is-well': result > 4, 'not-so-good': result< -4 }">
                <h1>Your Vue App, at your service!</h1>
                <h3>Recomended use with <a href="https://github.com/vuejs/vue-devtools">Vue DevTools</a>.</h3>
                <span class="result" title="Look at me go!">{{result}}</span>
                <my-component></my-component>
                <div class="btn-group">
                    <button @click="increment" class="button is-success">Increment!</button>
                    <button @click="decrement" class="button is-danger">Decrement!</button>
                </div>
            </div>
        </div>
    </template>
    <div id="app">
        <welcome-app></welcome-app>
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
