@import 'helpers';

body {
	.flex-center();
	height:100vh;
	overflow:hidden;
	background:#eee;
	font-family: 'Roboto', sans-serif;
}

.myApp-container {
	.flex-center();
	flex-flow:column nowrap;

	h1 {
		font-size:50px;
	}
} 